.category {
	text-transform: uppercase;
	color: #215274;
	display: inline-block;
	position: relative;
	padding-right: 30px;
	padding-bottom: 2px;
	margin-bottom: 1rem;
	border-bottom: 1px solid #215274;
}

.category::before {
	content: '';
	position: absolute;
	right: -10px;
	bottom: -10px;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent transparent #215274;
	transform-origin: center center;
	transform: rotate(45deg);
}