.main-menu {
	background-color: #0D5389;
}

.main-menu > ul {
	height: 32px;
	display: flex;
	flex-wrap: wrap;
}

.main-menu a {
	display: block;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
	padding: 9px 12px;
	transition: all 0.3s;
	position: relative;
}

.main-menu a::after {
	content: '';
	position: absolute;
	right: 0;
	border-right: 1px solid #fff;
	height: 50%;
}

.main-menu ul > li {
	position: relative;
	list-style-type: none;
}

.main-menu ul > li:last-child a::after{
	height: 0;
}

.main-menu a:hover {
	color: #D9A744;
}

.main-menu .menu-active {
	color: #D9A744;
}

.main-menu .submenu {
	position: absolute;
	top: 100%;
	left: 5px;
	display: none;
	z-index: 1;
}

.main-menu .submenu li {
	width: 300px;
	background-color: #0D5389;
	border-left-style: solid;
	border-left-width: 3px;
	border-left-color: #0D5389;
	transition: all 0.3s;
}

.main-menu .submenu li:hover {
	background-color: #09426E;
	border-left-color: #E8E9EA;
}

.main-menu li:hover .submenu{
	display: block;
}


