.news-move-text {
	max-width: 700px;
	overflow: hidden;
	font-size: 14px;
	display: flex;
	/*flex-wrap: wrap;*/
}

.news-move-text a {
	color: #3F5F76;
	padding-left: 4px;
}

.news-move-text i {
	color: #fd7e14;
}

.news-move-text p {
	padding: 3px 5px;
	width: 150px;
	text-transform: uppercase;
	color: #082E49;
	border-left: 3px solid #F59D1F;
	font-size: 1.05rem;
}
