.top-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.top-header-left {
	width: 458px;
	display: flex;
	padding: 8px 0;
}

.top-header-left a {
	color: #082E49;
	padding-right: 6px;
}

.top-header-left span {
	color:  #BB1C06;
}

.top-header-left p{
	font-size: 14px;
	color: #082E49;
}

/*right*/
.top-header-right {
	width: 510px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.top-header-right label {
	font-size: 14px;
	color: #082E49;
	margin-right: 8px;
}

.top-header-right input {
	height: 35px;
	width: 280px;
	padding: 0 5px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-top-width: 0;
	border-bottom-width: 0;
	transition: all 0.2s;
}

.top-header-right button {
	width: 35px;
	height: 35px;
	color: #fff;
	background-color: #F6B811;
	border: none;
	outline: none;
	transition: all 0.2s;
}

.top-header-right button:hover {
	background-color: #E8360E;
}

.top-header-right form {
	display: flex;
}

.top-header-right form:hover input{
	width: 330px;
}
